<div id="available-columns-table" >


    <div class="ui-g">
        <div class="ui-g-8">

            <p-dataTable [globalFilter]="filterText" [value]="sourceTableColumnList" [(selection)]="selectedCols" [paginator]="true"
                [rows]="6" [responsive]="true" [resizableColumns]="true">
                <p-header>
                    <div class="ui-g">
                        <div class="ui-g-8">
                            <label>{{selectedTable}}</label>
                            <input size="30" style="line-height: 25px;" placeholder="Search columns" #filterText type="text" pInputText>

                        </div>
                        <!--<div class="ui-g-3">
                        </div>-->
                        <div class="ui-g-2">
                            <button pButton type="text" (click)="selectAll()" label="All"></button>
                        </div>
                        <div class="ui-g-2">
                            <button pButton type="text" (click)="removeAll()" label="None"></button>
                        </div>
                    </div>
                </p-header>
                <p-column [style]="{'width':'50px'}" selectionMode="multiple"></p-column>
                <p-column [style]="{'width':'200px'}" field="columnName" header="Name" [sortable]="true"></p-column>
                <p-column [style]="{'width':'120px'}" field="columnDataType" header="Data Type" [sortable]="true"></p-column>

                <p-column [style]="{'width':'75px'}" field="integrationIdFlag" header="Int Id" [style]="{'width':'145px'}">
                    <ng-template let-row="rowData" let-index="rowIndex" let-col pTemplate type="body">
                        <input type="checkbox" id="integrationIdFlag{{index}}" name="integrationIdFlag" #integrationIdFlag="ngModel" [(ngModel)]="row[col.field]"
                        />
                    </ng-template>
                </p-column>


                <p-column [style]="{'width':'75px'}" field="ccFlag" header="CC" [style]="{'width':'145px'}">
                    <ng-template let-row="rowData" let-index="rowIndex" let-col pTemplate type="body">
                        <input type="checkbox" id="ccFlag{{index}}" name="ccFlag" #ccFlag="ngModel" [(ngModel)]="row[col.field]" />
                    </ng-template>
                </p-column>
                <p-column [style]="{'width':'75px'}" field="buidFlag" header="BUID" [style]="{'width':'145px'}">
                    <ng-template let-row="rowData" let-index="rowIndex" let-col pTemplate type="body">
                        <input type="checkbox" id="buidFlag{{index}}" name="buidFlag" #buidFlag="ngModel" [(ngModel)]="row[col.field]"
                        />
                    </ng-template>
                </p-column>
                <p-column [style]="{'width':'75px'}" field="pguidFlag" header="PGUID" [style]="{'width':'145px'}">
                    <ng-template let-row="rowData" let-index="rowIndex" let-col pTemplate type="body">
                        <input type="checkbox" id="pguidFlag{{index}}" name="pguidFlag" #pguidFlag="ngModel" [(ngModel)]="row[col.field]"
                        />
                    </ng-template>
                </p-column>


            </p-dataTable>
        </div>

        <div  class="ui-g-4">
            <p-dataList [value]="selectedCols" [paginator]="true" [rows]="14">
                <p-header>
                    <span style="font-size:1.15em">Selected Columns</span>
                </p-header>
                <ng-template let-col pTemplate="item">
                    <div style="border-bottom: 1px solid #bdbdbd" class="clearfix">
                        <span [style.color]="getColumnColour(col)">{{col.columnName}}</span>
                        <span>{{col.integrationIdFlag==true?' (IK)':''}}</span>
                        <span>{{col.ccFlag==true?' (CC)':''}}</span>
                        <span>{{col.buidFlag==true? '(BUID)':''}}</span>
                        <span>{{col.pguidFlag==true? '(PGUID)':''}}</span>
                    </div>
                </ng-template>
            </p-dataList>
        </div>
    </div>

</div>


<div *ngIf="true" class="card card-w-title">
    <div class="ui-g">
        <div  *ngIf="editMode===false" class="ui-g-2">
            <button pButton type="text" (click)="selectTable()" icon="fa-hand-o-left" iconPos="left" label="Previous"></button>
        </div>
        <div class="ui-g-8">
        </div>
        <div class="ui-g-2">
            <button pButton type="text" (click)="confirm()" icon="fa-hand-o-right" iconPos="right" label="Next"></button>
        </div>

    </div>
</div>

