
  <div class="auth-page ">
    <div class="card login-panel ui-fluid">
      <div class="ui-g">
        <div class="ui-g-12 ui-widget-header">
          <!--<img src="assets/layout/images/favicon.ico">-->
          <div class="logo"></div>
        </div>
        <div class="ui-g-12">
          <span class="md-inputfield">
                        <input [(ngModel)]="userName" type="text" autocomplete="off" class="ui-inputtext ui-corner-all ui-state-filled ui-widget">
                        <label>Username</label>
                    </span>
        </div>
        <div class="ui-g-12">
          <span class="md-inputfield">
                      <input [(ngModel)]="password" type="password" autocomplete="off" class="ui-inputtext ui-corner-all ui-state-filled ui-widget">
                      <label>Password</label>
                  </span>
        </div>
        <div class="ui-g-12">
          <button type="button" class="secondary ui-button ui-widget ui-state-default ui-corner-all" (click)="submitForm()">
                      <span class="ui-button-text ui-c">Sign In</span>
                  </button>
        </div>
      </div>

    </div>
  </div>
