<div class="card card-w-title">
    <div class="ui-g">

        <div class="ui-g-2">
        </div>
        <div class="ui-g-4">

            <p-panel header="is hidden using css">
                Welcome to the SIL Workflow generation wizard. This wizard will allow you to select an existing metadata entity definition and generate Fact and Dimension workflows. Before continuing, please ensure that.,


            </p-panel>
        </div>
        <div class="ui-g-6">
        </div>

    </div>

</div>