<div class="card card-w-title">
    <h1>Select Columns</h1>

    <div class="ui-g">

        <div class="ui-g-12 ui-lg-6">
            <!-- Right Side -->
            <div class="card card-w-title">
                <h1>Checkboxes</h1>
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-4">
                        <p-checkbox name="cg" value="Ultima" label="Ultima" [(ngModel)]="checkboxValues"></p-checkbox>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-checkbox name="cg" value="Icarus" label="Icarus" [(ngModel)]="checkboxValues"></p-checkbox>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <p-checkbox name="cg" value="Omega" label="Omega" [(ngModel)]="checkboxValues"></p-checkbox>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="ui-g">
        <div class="ui-g-2">
            <button pButton type="text" (click)="selectColumns()" icon="fa-hand-o-left" iconPos="left" label="Previous"></button>
        </div>
        <div class="ui-g-8">
        </div>
        <div class="ui-g-2">
            <button pButton type="text" (click)="generate()" icon="fa-hand-o-right" iconPos="right" label="Generate"></button>
        </div>

    </div>

</div>