<div class="card card-w-title">
    <h1>Select Columns</h1>

    <div class="ui-g">

        

    </div>


    <div class="ui-g">
        <div class="ui-g-2">
            <button pButton type="text" (click)="selectColumns()" icon="fa-hand-o-left" iconPos="left" label="Previous"></button>
        </div>
        <div class="ui-g-8">
        </div>
        <div class="ui-g-2">
            <button pButton type="text" (click)="generate()" icon="fa-hand-o-right" iconPos="right" label="Generate"></button>
        </div>

    </div>

</div>