<div class="card card-w-title">
    <p-confirmDialog width="425"></p-confirmDialog>

    <div class="ui-g">
        <div class="ui-g-4">
            <span id="table-col-search" class="md-inputfield search-item">
                            <input placeholder="Search..." size="30" style="line-height: 25px;" #filterText  type="text" pInputText>
                            <!--<label>Search</label>-->
                            <i  class="topbar-icon material-icons">search</i>
                        </span>
        </div>
        <div class="ui-g-4"></div>
        <div class="ui-g-4">
            <button pButton type="text" (click)="newworkflow()" icon="fa-plus" iconPos="right" label="New"></button>
            <!--<button pButton [disabled]="selectedWorkflows==null || selectedWorkflows.length!=1" type="text" (click)="editworkflow()"
                icon="fa-edit" iconPos="right" label="Edit"></button>-->
            <!--<p-splitButton [disabled]="selectedWorkflows==null || selectedWorkflows.length==0" styleClass="ui-button-warning" 
            label="Regenerate" icon="fa-check" (onClick)="generateWorkflow()"  [model]="generateActions"></p-splitButton>-->
            <button class="ui-button-warning" pButton [disabled]="selectedWorkflows==null || selectedWorkflows.length==0" type="text"
                (click)="generateWorkflow()" icon="fa-sitemap" iconPos="right" label="Regenerate"></button>


        </div>

    </div>

    <p-dialog header="Edit Puddle Columns" [width]="1200" [height]="600" [appendTo]="'body'" [modal]="true" [(visible)]="showColumnsDialog"
        (onHide)="hideColumnsDialog()" [responsive]="true" [draggable]="false">
        <router-outlet></router-outlet>
    </p-dialog>


    <p-dialog *ngIf="selectedWorkflow" header="Generator Messages" [(visible)]="showWorkflowMessage" [width]="600" [appendTo]="'body'"
        [modal]="true" [responsive]="true">

        <scrolling-list [messages]="workflowMessages[selectedWorkflow] || ['No Messages to Show']"></scrolling-list>


    </p-dialog>



    <p-dataTable styleClass="workflowsTable" [globalFilter]="filterText" [value]="allWorkflows" [(selection)]="selectedWorkflows"
        [paginator]="true" [rows]="10" [responsive]="true" [resizableColumns]="true">
        <p-header>

            <span>Puddles</span>
        </p-header>
        <p-column [style]="{'width':'50px'}" selectionMode="multiple"></p-column>


        <p-column [style]="{'width':'70px'}" field="id" header="Id" [sortable]="true"></p-column>



        <p-column [style]="{'width':'250px'}" field="workflowName" header="Name" [sortable]="true"></p-column>


        <!--<p-column [style]="{'width':'100px'}" field="workflowStatus" header="Status" [sortable]="true"></p-column>-->

        <p-column [style]="{'width':'100px','text-align': 'center'}" field="workflowStatus" header="Status" [sortable]="true">
            <ng-template let-col let-data="rowData" pTemplate="body">
                <!--<span><a href="javascript:void(0)" (click)="editworkflow(data['id'])" >{{data["workflowStatus"]}}</a></span>-->

                <!--<span *ngIf='data["workflowStatus"]!="Processing"'>{{data["workflowStatus"]}}</span>-->

                <!--<i *ngIf='data["workflowStatus"]!="Processing"' class="fa fa-check icon" aria-hidden="true" title="Processed"></i>-->
                <span *ngIf='data["workflowStatus"]=="Queued"'>{{data["workflowStatus"]}}</span>

                <button *ngIf='data["workflowStatus"]=="Error"' (click)='showMessage(data["id"])' pButton type="button" class="ui-button-icon ui-button-error"
                    title="Error" icon="fa-warning"></button>
                <button *ngIf='data["workflowStatus"]=="Processed"' (click)="showMessage(data['id'])" pButton type="button" class="ui-button-icon ui-button-success"
                    title="Processed" icon="fa-check"></button>
                <!--<div style="cursor: pointer;">
                    <p-progressBar *ngIf='data["workflowStatus"]=="Processing"' (click)="showMessage(data['id'])" [value]="50"></p-progressBar>
                </div>-->
                <button *ngIf='data["workflowStatus"]=="Processing"' (click)="showMessage(data['id'])" pButton type="button" class="ui-button-icon ui-button-info"
                    title="Processed" icon="fa-spinner fa-spin"></button>

            </ng-template>
        </p-column>


        <p-column [style]="{'width':'100px'}" field="sourceName" header="Source" [sortable]="true"></p-column>
        <p-column [style]="{'width':'230px'}" field="sourceTableName" header="Source Table" [sortable]="true"></p-column>
        <p-column [style]="{'width':'170px'}" field="modifiedDate" header="Updated" [sortable]="true">
            <ng-template let-row="rowData" let-index="rowIndex" let-col pTemplate type="body">
                <span>{{row[col.field] | date: 'dd/MM/yyyy HH:mm'}}</span>
            </ng-template>

        </p-column>
        <p-column [style]="{'width':'75px'}" field="id" header="Edit">
            <ng-template let-row="rowData" let-index="rowIndex" let-col pTemplate type="body">
                <button pButton type="button" class="ui-button-icon ui-button-primary" (click)="editWizard(row[col.field])" icon="fa-edit"></button>
            </ng-template>
        </p-column>
    </p-dataTable>

</div>