<div class="card card-w-title">
    <h1>Select Table</h1>
<div [ngBusy]="routerEventSubscription"></div>

    <div class="ui-g">

        <div class="ui-g-3">
        </div>

        <div class="ui-g-6">
             <sk-wave [isRunning]="isRunning"></sk-wave>
            <p-listbox [options]="tableNameList" [(ngModel)]="selectedTable" filter="true"></p-listbox>
        </div>
        <div class="ui-g-3">
        </div>
    </div>


    <div class="ui-g">
        <div class="ui-g-2">
            <button pButton type="text" (click)="selectSource()" icon="fa-hand-o-left" iconPos="left" label="Previous"></button>
        </div>
        <div class="ui-g-8">
        </div>
        <div class="ui-g-2">
            <button pButton type="text" (click)="selectColumns()" icon="fa-hand-o-right" iconPos="right" label="Next"></button>
        </div>

    </div>

</div>

