<div class="card card-w-title">
    <h1>Select Columns</h1>

    <div class="ui-g">
        <span id="table-col-search" class="md-inputfield search-item ">
                            <input #filterText  type="text" pInputText>
                            <label>Search</label>
                            <i class="topbar-icon material-icons">search</i>
                        </span>

        <p-dataTable [globalFilter]="filterText" [value]="sourceTableColumnList" [(selection)]="selectedCols" [paginator]="true"
            [rows]="10" [responsive]="true">
            <p-header>Available Columns</p-header>
            <div [ngBusy]="routerEventSubscription"></div>
            <p-column [style]="{'width':'50px'}" selectionMode="multiple"></p-column>


            <p-column field="columnName" header="Name" [sortable]="true"></p-column>
            <p-column field="columnDataType" header="Data Type" [sortable]="true"></p-column>

            <p-column field="integrationIdFlag" header="Integration Id" [style]="{'width':'145px'}">
                <ng-template let-row="rowData" let-index="rowIndex" let-col pTemplate type="body">
                    <input type="checkbox" id="integrationIdFlag{{index}}" name="integrationIdFlag" #integrationIdFlag="ngModel" [(ngModel)]="row[col.field]"
                    />
                </ng-template>
            </p-column>


            <p-column field="changeCaptureColFlag" header="Change Capture Column" [style]="{'width':'145px'}">
                <ng-template let-row="rowData" let-index="rowIndex" let-col pTemplate type="body">
                    <input type="checkbox" id="changeCaptureColFlag{{index}}" name="changeCaptureColFlag" #integrationIdFlag="ngModel" [(ngModel)]="row[col.field]"
                    />
                </ng-template>
            </p-column>


        </p-dataTable>
    </div>


    <div class="ui-g">
        <div class="ui-g-2">
            <button pButton type="text" (click)="selectTable()" icon="fa-hand-o-left" iconPos="left" label="Previous"></button>
        </div>
        <div class="ui-g-8">
        </div>
        <div class="ui-g-2">
            <button pButton type="text" (click)="confirm()" icon="fa-hand-o-right" iconPos="right" label="Next"></button>
        </div>

    </div>

</div>