
@import "../node_modules/angular2-busy/build/style/busy.css";

/* You can add global styles to this file, and also import other style files */



/*to fix border appearing around step headings*/
.ui-steps .ui-steps-item.ui-state-default {
border: none;
}

/*to fix selected radio buttons not showing selections clearly*/

body .ui-state-active .fa{

color:#607D8B;

}

/*body .ui-listbox .ui-listbox-header .ui-listbox-filter-container .ui-inputtext{
    color:#000000

}*/


body .ui-listbox .ui-listbox-list{

    height:220px;
    overflow:auto
}

#table-col-search{

    line-height:2.5em
}

