
@import "../node_modules/angular2-busy/build/style/busy.css";

/* You can add global styles to this file, and also import other style files */



/*to fix border appearing around step headings*/
.ui-steps .ui-steps-item.ui-state-default {
border: none;
}


/*to fix selected radio buttons not showing selections clearly*/

.ga-radio .ui-state-active .fa{

color:#607D8B;

}

/*body .ui-listbox .ui-listbox-header .ui-listbox-filter-container .ui-inputtext{
    color:#000000

}*/


th .ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default {
    display:none !important;
 }

body .ui-listbox .ui-listbox-list{

    height:220px;
    overflow:auto
}

#table-col-search{

    line-height:2.5em
}

.auth-page .logo {

    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 30px;
    background: url(/assets/layout/images/logo2x.png) top left no-repeat;
    background-size: 200px 30px;

}

.table-header-toolbar  {

     background-color: transparent !important;
     padding:0em !important;
     box-shadow:0em !important;
     border:none !important;

}


.app-breadcrumb {

  background-color: transparent !important;
 border:none !important;




}


.app-breadcrumb .fa-chevron-right:before {

color: grey;

}


// .app-breadcrumb .ui-menuitem-text{

//     color: grey;
//     padding:0.3em;

// }
.app-breadcrumb .ui-menuitem-link{

    color: #048ec6 !important;
    padding:0.3em;
    
}

.app-breadcrumb .ui-breadcrumb-home span{

    color: #048ec6 !important;
    padding:0.3em;
    
}

.app-breadcrumb .ui-menuitem-link.ui-state-active{

    color: black !important;
    padding:0.3em;
    background-color: transparent!important;
    cursor:pointer !important;
}


@mixin avatar($size) {
    width: $size;
    height: $size;
    background-color: grey;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;

    .initials {
      position: relative;
      top: $size*0.25;
      font-size: $size*0.5;
      line-height: $size*0.5;
      color: #fff;
      font-family: "Courier New", monospace;
      font-weight: bold;
    }
}

.avatar-circle      { @include avatar(100px); }
.avatar-circle-sm   { @include avatar(36px); }
.avatar-circle-lg   { @include avatar(250px); }



#sil-intro-panel-id .ui-panel-titlebar{

 display: none;

}


// For Star Diagram Force graph
.links line {
    stroke: #999;
    stroke-opacity: 0.6;
  }
  
  .nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
  }